@charset "utf-8";
body {
  background: black;
}

.fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.clock {
  position: absolute;
  opacity: 1;
  left: 50%;
  top: 50%;
}

.centre {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
}

.expand {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.anchor {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.element {
  position: absolute;
  top: 0;
  left: 0;
}

.round {
  border-radius: 296px;
}

.circle-1 {
  width: 6px;
  height: 6px;
  border: 3px solid white;
}

.circle-2 {
  width: 4px;
  height: 4px;
  border: 2px solid #FA9F22;
}

.second {
  transform: rotate(180deg);
}

.minute {
  transform: rotate(54deg);
}

.second-hand {
  width: 2px;
  background: #FA9F22;
}
.second-hand-front {
  width: 2px;
  height: 137px;
  background: #FA9F22;
  transform: translate(-50%,-100%) translateY(-3px);
}
.second-hand-back {
  width: 2px;
  height: 21px;
  background: #FA9F22;
  opacity: 1;
  transform: translate(-50%,-100%) translateY(24px);
}

.hour {
  transform: rotate(304.5deg);
}

.thin-hand {
  width: 4px;
  height: 50px;
  background: white;
  transform: translate(-50%,-100%) translateY(-5px);
}

.fat-hand {
  box-sizing: border-box;
  width: 10px;
  height: 57px;
  border-radius: 10px;
  background: white;
  transform: translate(-50%,-100%) translateY(-18px);
}

.minute-hand {
  height: 112px;
}


.minute-line {
  background: white;
  width: 1px;
  height: 9px;
  transform: translate(-50%,-100%) translateY(-131px);
  opacity: 0.34;
}
.major.minute-line {
  opacity: 0.5;
}
.minute-text {
  font: 12px Avenir Next, Helvetica;
  color: white;
  top: -135px;
}

.hour-pill {
  background: white;
  width: 6px;
  height: 35px;
  border-radius: 10px;
  transform: translate(-50%,-100%) translateY(-85px);
  opacity: 0.75;
}
.hour-text {
  font: 40px Hei, Helvetica;
  color: white;
  top: -105px;
}
.hour-10 .content {
  padding-left: 0.4ex;
}
.hour-11 .content {
  padding-left: 0.25ex;
}

/* Now, customizations! */


/* Customize: hour */
.hour-style-text .hour-pill {
  opacity: 0;
}
.hour-style-pill .hour-text {
  opacity: 0;
}
.hour-style-text-quarters .hour-1.hour-text,
.hour-style-text-quarters .hour-2.hour-text,
.hour-style-text-quarters .hour-3.hour-pill,
.hour-style-text-quarters .hour-4.hour-text,
.hour-style-text-quarters .hour-5.hour-text,
.hour-style-text-quarters .hour-6.hour-pill,
.hour-style-text-quarters .hour-7.hour-text,
.hour-style-text-quarters .hour-8.hour-text,
.hour-style-text-quarters .hour-9.hour-pill,
.hour-style-text-quarters .hour-10.hour-text,
.hour-style-text-quarters .hour-11.hour-text,
.hour-style-text-quarters .hour-12.hour-pill {
  opacity: 0;
}

/* Customize: hour-text */
.hour-text-style-small .hour-text {
  font-size: 24px;
  top: -113px;
}

/* Customize: hour-display */
.hour-display-style-quarters .hour-1,
.hour-display-style-quarters .hour-2,
.hour-display-style-quarters .hour-4,
.hour-display-style-quarters .hour-5,
.hour-display-style-quarters .hour-7,
.hour-display-style-quarters .hour-8,
.hour-display-style-quarters .hour-10,
.hour-display-style-quarters .hour-11 {
  opacity: 0;
}
.hour-display-style-none .hour-item {
  opacity: 0;
}

/* Customize: minute */
.minute-style-dot .minute-line {
  width: 6px;
  height: 6px;
  transform: translate(-50%,-100%) translateY(-134px);
  border-radius: 6px;
  opacity: 0.75;
}
.minute-style-dot .part.minute-line,
.minute-style-dot.hour-style-pill .major.minute-line {
  opacity: 0;
}
.minute-style-dot .hour-pill {
  transform: translate(-50%,-100%) translateY(-100px);
  height: 40px;
}

/* Customize: minute text */
.minute-text-style-inside .major.minute-line {
  opacity: 0;
}
.minute-text-style-outside .minute-text {
  top: -152px;
  font-size: 14px;
}
.minute-text-style-none .minute-text {
  opacity: 0;
}

/* Customize: Minute display */
.minute-style-line.minute-display-style-fine-2 .whole.minute-line,
.minute-style-line.minute-display-style-fine-2 .major.minute-line {
  height: 13px;
  transform: translate(-50%,-100%) translateY(-127px);
}
.minute-style-line.minute-display-style-fine-2 .part.minute-line {
  height: 8px;
  transform: translate(-50%,-100%) translateY(-132px);
}
.minute-display-style-coarse .part.minute-line {
  opacity: 0;
}
.minute-display-style-major .part.minute-line,
.minute-display-style-major .whole.minute-line {
  opacity: 0;
}
.minute-display-style-none .part.minute-line,
.minute-display-style-none .major.major.minute-line,
.minute-display-style-none .whole.minute-line {
  opacity: 0;
}

/* Customize: hand */
.hand-style-hollow .fat-hand {
  background: black;
  border: 2px solid white;
}

/* Customizer */
#chooser {
  cursor: pointer;
  font: 1rem -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 12px;
  color: #606060;
  opacity: .5;
}

#chooser:hover {
  opacity: 1;
  transition: all .3s;
}

easingthemes/ssh-deploy@v2.2.11 is not allowed to be used in jiazengp/docs. Actions in this workflow must be: within a repository owned by jiazengp, created by GitHub or verified in the GitHub Marketplace.
