.arrow {
  display: inline-block;
  mask-image: url('data:image/svg+xml;base64,ICA8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgYXJpYS1oaWRkZW49InRydWUiIGZvY3VzYWJsZT0iZmFsc2UiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9Im1hcmdpbi1sZWZ0OiA0cHg7d2lkdGg6IDE0cHg7aGVpZ2h0OiAxNHB4O2ZpbGw6IGN1cnJlbnRDb2xvcjsiPjxwYXRoIGQ9Ik0xMiwxNmMtMC4zLDAtMC41LTAuMS0wLjctMC4zbC02LTZjLTAuNC0wLjQtMC40LTEsMC0xLjRzMS0wLjQsMS40LDBsNS4zLDUuM2w1LjMtNS4zYzAuNC0wLjQsMS0wLjQsMS40LDBzMC40LDEsMCwxLjRsLTYsNkMxMi41LDE1LjksMTIuMywxNiwxMiwxNnoiPjwvcGF0aD48L3N2Zz4K');
  margin-left: 4px;
  width: 14px;
  height: 14px;
  background-color: var(--c-text);
  fill: currentColor;
  border: none!important;
  &.up {
    transform: rotate(180deg);
  }
  &.right {
    transform: rotate(260deg);
  }

  &.left {
    transform: rotate(90deg);
  }
}
