// 修饰命名空间
$my-namespace: docs;
// 修饰状态
$state-prefix: 'is-';
// 修饰类型的
$modifier-separator: '--';
// 划分空间分隔符
$element-separator: '__';

// wide screen
$wide: 1440px !default;
// desktop
$desktop: 1280px !default;
// narrow desktop / iPad
$pad: 959px !default;
// wide mobile
$mobile: 719px !default;
// narrow mobile
$mobileS: 419px !default;

// code languages
$codeLang: 'c' 'cpp' 'cs' 'css' 'dart' 'docker' 'fs' 'go' 'html' 'java' 'js'
  'json' 'kt' 'less' 'makefile' 'md' 'php' 'py' 'rb' 'rs' 'sass' 'scss' 'sh'
  'styl' 'ts' 'toml' 'vue' 'yml' !default;

/* Content Class */
$contentClass: '.theme-default-content' !default;

/** dark mode selecters */
$darkSelector: '[data-theme="dark"]' !default;
$lightSelector: '[data-theme="dark"]' !default;

/* Color list */
$colors: #cf1322, #fa541c, #f39c12, #2ecc71, #25a55b, #13c2c2, #096dd9, #aa6fe9,
  #eb2f96 !default;

/* theme-color */
$colorPicker: (
  'red': #e74c3c,
  'blue': #3498db,
  'green': #3eaf7c,
  'orange': #f39c12,
  'purple': #8e44ad,
) !default;

$MQNarrow: 959px !default;
$MQMobile: 719px !default;
$MQMobileNarrow: 419px !default;
