@import 'config';

header.navbar {
  background-color: var(--#{$my-namespace}-navbar);
  box-shadow: var(--#{$my-namespace}-box-shadow);
  backdrop-filter: saturate(180%) blur(20px);
  transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
  pointer-events: auto;
  // 隐藏顶导航上的外域链接图标
  .navbar-links-wrapper > nav > div > a > span > svg.icon.outbound {
    display: none;
  }
  .navbar-links-wrapper
    > .navbar-links
    > .navbar-links-item:hover
    > .nav-link::after,
  .navbar-links-wrapper
    > .navbar-links
    > .navbar-links-item:hover
    > .dropdown-wrapper:first-child::after {
    width: 100%;
    left: 0;
    right: auto;
  }
  .navbar-links-wrapper > .navbar-links > .navbar-links-item > .nav-link::after,
  .navbar-links-wrapper
    > .navbar-links
    > .navbar-links-item
    > .dropdown-wrapper:first-child::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: auto;
    right: 0;
    background-color: var(--c-brand);
    transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  }
  .nav-dropdown,
  .dropdown-subitem-wrapper {
    transition: all 18s ease-out;
  }
}
