// i18n
html:lang(ar) {
  line-height: 1.58824;
  letter-spacing: 0em;
}

html:lang(ja) {
  letter-spacing: 0em;
}

html:lang(ko) {
  line-height: 1.58824;
  letter-spacing: 0em;
}

html:lang(zh) {
  letter-spacing: 0em;
}

html:lang(th) {
  line-height: 1.35296;
  letter-spacing: 0em;
}

:lang(cs) {
  quotes: '„' '“';
}

:lang(de) {
  quotes: '„' '“';
}

:lang(de-CH) {
  quotes: '« ' ' »';
}

:lang(fr) {
  quotes: '« ' ' »';
}

:lang(es-ES) {
  quotes: '«' '»';
}

:lang(hu) {
  quotes: '„' '“';
}

:lang(ja-JP) {
  quotes: '「' '」';
}

:lang(no-NO) {
  quotes: '«' '»';
}

:lang(pl) {
  quotes: '„' '“';
}

:lang(ru) {
  quotes: '« ' ' »';
}

:lang(zh) {
  quotes: '「' '」';
}

:lang(zh-CN) {
  quotes: '“' '”';
}

:lang(ja),
:lang(ko),
:lang(th),
:lang(zh) {
  font-style: normal;
}

:lang(ko) {
  word-break: break-all;
}
