@import 'config';

@media (min-width: ($MQMobile + 1)) {
  .navbar-dropdown-wrapper {
    height: 1.8rem;

    &.open .navbar-dropdown {
      opacity: 1;
      transform: none;
    }

    .navbar-dropdown {
      display: block;
      opacity: 0;
      transform: translateY(-0.5rem);
      transition: opacity 0.3s ease, transform 0.3s ease;
      // Avoid height shaked by clicking
      height: auto !important;
      box-sizing: border-box;
      max-height: calc(100vh - 2.7rem);
      overflow-y: auto;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: var(--c-bg-navbar);
      padding: 0.6rem 0;
      border: 1px solid var(--c-border);
      border-bottom-color: var(--c-border-dark);
      text-align: left;
      border-radius: 0.25rem;
      white-space: nowrap;
      margin: 0;
    }
  }
}
