@media print {
  a:link,
  a:visited,
  a {
    text-decoration: underline;
    word-wrap: break-word;
  }

  a[href^="http://"]:after, a[href^="https://"]:after
  {
    content: ' (' attr(href) ') ';
  }

  thead {
    display: table-header-group;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  h1 + p,
  h2 + p,
  h3 + p {
    page-break-before: avoid;
  }

  a {
    page-break-inside: avoid;
  }

  img {
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  table,
  blockquote {
    page-break-inside: avoid;
  }

  ul,
  ol,
  dl {
    page-break-before: avoid;
  }
  .page-meta {
    .meta-item.edit-link {
      display: none;
    }
  }
  .navbar .navbar-links-wrapper {
    display: none;
  }
}

@page {
  margin: 0.5cm;
  orphans: 4;
  widows: 2;
  @top-center {
    content: 'Genshin Map';
  }
}

div.pageBlock {
  page-break-before: always;
}
