@mixin main {
  // 推荐群
  @include set-badge(1, 'suggest');
  @include set-badge(2, 'suggest');
  @include set-badge(3, 'suggest');

  // 已满群
  @include set-badge(6, 'warning');
  @include set-badge(11, 'warning');
  // 被封禁的群
  @include set-badge(4, 'baned');
  @include set-badge(7, 'baned');

  ul > li:nth-child(4),
  ul > li:nth-child(7),
  ul > li:nth-child(4) > a strong,
  ul > li:nth-child(4) > a,
  ul > li:nth-child(7) > a strong,
  ul > li:nth-child(7) > a {
    cursor: no-drop;
    color: var(--vp-c-text-2);
    box-shadow: none !important;
    transform: none !important;
    border: none !important;
  }

  ul {
    display: inherit;
    padding: 0;
    /* max-height: 475px; */
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
    li {
      cursor: pointer;
      display: inline-block;
      margin: 10px 0;
      width: 100%;
      font-size: 16px;
      border-radius: 8px;
      transition: border 0.1s;
      text-align: right;
      line-height: 24px;
      background-color: var(--vp-c-bg-soft);
      font-family: var(--vp-font-family-subtitle);
      border: 1px transparent solid;

      a {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 100%;
        opacity: 0.95;
        padding: 14px 16px;
        box-sizing: border-box;
        transition: all 0.25s ease;
        text-decoration: none !important;
        color: var(--vp-c-brand-2);
        strong {
          position: absolute;
          left: 25px;
        }
        &:hover {
          opacity: 1;
        }
      }
      &:hover {
        border: 1px var(--vp-c-brand-2) solid;
      }
    }
  }
}

@mixin set-badge($number, $type) {
  ul > li:nth-child(#{$number}) > a strong::after {
    display: inline-block;
    margin-left: 6px;
    border-radius: 12px;
    padding: 0 6px;
    line-height: 22px;
    font-size: 12px;
    font-weight: 500;
    border-color: var(--vp-badge-tip-border);
    transform: translateY(-2px);

    @if $type == 'suggest' {
      color: rgb(235, 235, 235);
      background-color: #60bf90bd;
      content: '推荐';
    }

    @if $type == 'baned' {
      color: var(--vp-badge-info-text);
      background-color: var(--vp-badge-info-bg);
      content: '被封禁';
    }

    @if $type == 'warning' {
      color: var(--vp-badge-warning-text);
      background-color: var(--vp-badge-warning-bg);
      content: '已满';
    }
  }
}
