@mixin main {
  .vp-raw {
    padding: 0 28px 24px 28px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 36px;
    font-size: 15px;
    transition:
      all 0.5s,
      box-shadow 0.25s ease,
      border-color 0.25s ease;
    border-radius: 6px;
    background-color: var(--vp-custom-block-info-bg);
    margin-top: 2rem;

    .layer.tiny {
      z-index: -2;
      width: 80%;
      transform: translate(-50%, 12px);
      background: #f1f2f3;
    }

    &:hover {
      transform: translate3d(0, -2px, 0);
      box-shadow: var(--vp-shadow-1);
    }

    .header-anchor {
      display: none;
    }

    h3 {
      margin: 0;
    }

    code {
      font-weight: 600;
    }

    blockquote {
      display: flex;
      border-left: none;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border-bottom: 2px solid var(--vp-c-divider);
      padding-bottom: 16px;
      padding-left: 0;

      h2 {
        padding-top: 0;
        letter-spacing: 0;
        margin: 0;
        margin-top: 4px;
      }

      a {
        display: inline-block;
        border-radius: 6px;
        padding: 0 20px;
        line-height: 34px;
        font-size: 14px;
        border-color: var(--vp-button-brand-border);
        color: var(--vp-button-brand-text);
        background-color: var(--vp-button-brand-bg);
        border: 1px solid transparent;
        text-align: center;
        font-weight: 600;
        white-space: nowrap;
        transition:
          color 0.25s,
          border-color 0.25s,
          background-color 0.25s;
        text-decoration: none;

        &:hover {
          border-color: var(--vp-button-brand-hover-border);
          color: var(--vp-button-brand-hover-text);
          background-color: var(--vp-button-brand-hover-bg);
        }
      }
    }
  }
}
