.vp-md-demo {
  margin: .4rem 0;
  border: 1px solid var(--vp-c-border);
  border-radius: .5rem;
}

.vp-md-demo > .demo-content {
  padding: 0;
  margin: 0;
  list-style: none;
  cursor: pointer;
}

.vp-md-demo > .demo-content::-webkit-details-marker {
  display: none;
}

.vp-md-demo .vp-container-header {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  background-color: var(--vp-custom-block-info-bg);
  padding: 0 .4rem;
}

.vp-md-demo .vp-container-header > .vp-md-demo-toggle-button {
  pointer-events: none;
  width: 1.5rem;
  height: 1.5rem;
  margin: .6rem .4rem;
  border-radius: 50%;
  mask-size: 100% 100%;
  mask-position: center;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='rgb(255,255,255,0.5)' d='M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z'/%3E%3C/svg%3E") no-repeat;
  border: none;
  transform-origin: center;
  background-color: var(--vp-c-text-1);
  transform: rotate(-180deg);
  transition: all .2s ease-in-out;
}

.vp-md-demo[open] .vp-container-header > .vp-md-demo-toggle-button {
  transform: rotate(0deg);
}

.vp-md-demo .vp-md-demo-display {
  position: relative;
  padding: .4rem 0;
  margin: 0 .4rem;
}

.vp-md-demo .language-md {
  padding: 0 !important;
  margin: 0 !important;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top: 1px solid var(--vp-c-divider);
}

@media (min-width: 640px) {
  .vp-md-demo {
    border-radius: 8px;
    margin: 16px 0;
  }
}

@media (max-width: 639px) {
  .vp-md-demo {
    border-radius: 8px 0 0 8px;
  }
}
