@font-face {
  font-family: 'HYWenHei-85W-min';
  font-style: normal;
  font-weight: 100;
  src:
    local('☺'),
    url('/fonts/HYWenHei-85W-zh-min.woff2') format('woff2'),
    url('/fonts/HYWenHei-85W-zh-min.woff') format('woff'),
    url('/fonts/HYWenHei-85W-zh-min.ttf') format('ttf');
}

@font-face {
  font-family: 'HYWenHei-45W-min';
  font-style: normal;
  font-weight: 100;
  src:
    local('☺'),
    url('/fonts/HYWenHei-45W-min.woff2') format('woff2'),
    url('/fonts/HYWenHei-45W-min.woff') format('woff'),
    url('/fonts/HYWenHei-45W-min.ttf') format('truetype');
}

@font-face {
  font-family: 'HYWenHei-65W-min';
  font-style: normal;
  font-weight: 100;
  src:
    local('☺'),
    url('/fonts/HYWenHei-65W-min.woff2') format('woff2'),
    url('/fonts/HYWenHei-65W-min.woff') format('woff'),
    url('/fonts/HYWenHei-65W-min.ttf') format('truetype');
}
