html.dark {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

.vp-doc h2 {
  border: none;
  margin-top: 10px;
}

.vp-doc h2:first-child {
  border-top: 1px;
}

#VPContent > div > div.VPHero.has-image.VPHomeHero > div > div.main > h1 > span,
#VPContent > div > div.VPHero.has-image.VPHomeHero > div > div.main > p.text,
#app > div > header > div > div > div.title > div > a {
  font-weight: 900;
}

.VPMenuLink .link {
  line-height: 28px !important;
}

.VPSidebarGroup .link {
  padding: 3px 0 !important;
}

#app a:focus-visible,
#app button:focus-visible,
#app input[type='checkbox']:focus-visible {
  --at-apply: outline-1 outline-primary ring-2 ring-primary;
}

.content-container a:not(.header-anchor) {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
}

.content-container a:not(.header-anchor):hover {
  text-decoration: underline;
}

.pager-link,
.edit-link-button {
  text-decoration: none !important;
}

.VPSidebar::-webkit-scrollbar {
  background: transparent;
  height: 8px;
  width: 8px;
  margin-right: 8px;
}

.VPSidebar::-webkit-scrollbar-corner {
  width: 4px;
}

.VPSidebar::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: var(--vp-button-alt-bg);
  border: 2px solid transparent;
  border-radius: 4px;
}

.VPSidebar::-webkit-scrollbar-track {
  background-color: var(--vp-c-bg);
}
