:root {
  --background: 1 0 0;
  --foreground: 0.3588 0.0120 285.7800;
  --card: 0.9734 0.0013 286.3700;
  --card-foreground: 0.3588 0.0120 285.7800;
  --popover: 1 0 0;
  --popover-foreground: 0.3588 0.0120 285.7800;
  --primary: 0.7168 0.1343 160.5300;
  --primary-foreground: 1 0 0;
  --secondary: 0.9203 0.0067 286.2700;
  --secondary-foreground: 0.3588 0.0120 285.7800;
  --muted: 0.8993 0.0081 286.2400;
  --muted-foreground: 0.3588 0.0120 285.7800;
  --accent: 0.9700 0 0;
  --accent-foreground: 0.3588 0.0120 285.7800;
  --destructive: 0.7040 0.1910 22.2160;
  --destructive-foreground: 1 0 0;
  --border: 0.9131 0.0013 286.3700;
  --input: 1 0 0;
  --ring: 0.8147 0.0028 286.3400;
  --chart-1: 0.8100 0.1000 252;
  --chart-2: 0.6200 0.1900 260;
  --chart-3: 0.5500 0.2200 263;
  --chart-4: 0.4900 0.2200 264;
  --chart-5: 0.4200 0.1800 266;
  --sidebar: 0.9734 0.0013 286.3700;
  --sidebar-foreground: 0.3588 0.0120 285.7800;
  --sidebar-primary: 0.2050 0 0;
  --sidebar-primary-foreground: 0.9850 0 0;
  --sidebar-accent: 0.9700 0 0;
  --sidebar-accent-foreground: 0.2050 0 0;
  --sidebar-border: 0.9131 0.0013 286.3700;
  --sidebar-ring: 0.7080 0 0;
  --font-sans: 'HYWenHei-45W-min', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: 'HYWenHei-45W-min', sui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.625rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: 22.385% 0.00773 285.719;
  --foreground: 0.9850 0 0;
  --card: 0.2493 0.0114 278.0400;
  --card-foreground: 0.9850 0 0;
  --popover: 0.2493 0.0114 278.0400;
  --popover-foreground: 0.9850 0 0;
  --primary: 0.7168 0.1343 160.5300;
  --primary-foreground: 0.9850 0.0010 106.4230;
  --secondary: 0.3995 0.0207 259.4000;
  --secondary-foreground: 0.9011 0.0121 106.6400;
  --muted: 0.2238 0.0077 285.7600;
  --muted-foreground: 0.6819 0.0102 286.1300;
  --accent: 0.2741 0.0055 286.03;
  --accent-foreground: 0 0% 98%;
  --destructive: 0.7040 0.1910 22.2160;
  --destructive-foreground: 0.9850 0 0;
  --border: 0.3667 0.0095 260.7200;
  --input: 0.2238 0.0077 285.76;
  --ring: 0.3027 0.0071 285.9700;
  --chart-1: 0.8100 0.1000 252;
  --chart-2: 0.6200 0.1900 260;
  --chart-3: 0.5500 0.2200 263;
  --chart-4: 0.4900 0.2200 264;
  --chart-5: 0.4200 0.1800 266;
  --sidebar: 0.2011 0.0039 286.0400;
  --sidebar-foreground: 0.9850 0 0;
  --sidebar-primary: 0.7168 0.1343 160.5300;
  --sidebar-primary-foreground: 0.9850 0 0;
  --sidebar-accent: 0.2690 0 0;
  --sidebar-accent-foreground: 0.9850 0 0;
  --sidebar-border: 0.3027 0.0071 285.9700;
  --sidebar-ring: 0.4390 0 0;
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.625rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}
