/* HTML: <div class="loader"></div> */
.loader {
  width: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, var(--vp-c-brand-1) 94%, #0000) top / 8px 8px
      no-repeat,
    conic-gradient(#0000 30%, var(--vp-c-brand-1));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

/* HTML: <div tooltip></div> */
[tooltip],
.tooltip {
  z-index: 9999999999999999;
  position: relative;
}

[tooltip]:hover::before,
.tooltip:hover::before {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0.7rem;
  height: 0.7rem;
  background-color: #333;
  transform: translate(-50%, calc(-410% + 0.2rem)) rotate(-45deg);
  transition: all 0.3s;
}

[tooltip]:hover::after,
.tooltip:hover::after {
  display: inline-block;
  background-color: #333;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, calc(-200% + 0.6rem));
  word-break: keep-all;
  line-height: 1.2rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  transition: all 0.3s linear;
}

[tooltip]:hover::after {
  content: attr(tooltip) ' ';
}

.tooltip:hover::after {
  content: var(--tooltip);
}
