@font-face {
  font-family: zh-cn-min;
  src: url('../../../src/public/fonts/zh-cn-min.woff');
}

/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-indigo-1: #60bf90;
  --vp-c-indigo-2: #3aa374;
  --vp-c-indigo-3: #008858;
  --vp-c-indigo-soft: rgba(0, 108, 69 0.16);
  --vp-font-family-base: zh-cn-min, -apple-system, BlinkMacSystemFont,
    'Helvetica Neue', Helvetica, Segoe UI, Arial, Roboto, 'PingFang SC', miui,
    'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  --vp-c-accent: #35495e;
  --vp-c-brand: #44bd87;
  --vp-c-text-code: #476582;

  --vp-code-block-bg: rgba(125, 125, 125, 0.04);
  --vp-code-copy-code-bg: rgba(125, 125, 125, 0.1);
  --vp-code-copy-code-hover-bg: rgba(125, 125, 125, 0.2);

  --vp-fig-text: #aaa;
  --vp-fig-light-text: #808080;

  --vp-c-disabled-bg: rgba(125, 125, 125, 0.2);
  /* fix contrast on gray cards: used by --vp-c-text-2 */
  --vp-c-text-light-2: rgba(56 56 56 / 70%);

  --vp-sidebar-width: 295px;

  --nav-c-bg: rgba(255, 255, 255, 0.7);

  --vp-custom-block-tip-text: #003100;
  --vp-custom-block-tip-bg: #e6f6e6;

  --skeleton-animation-gradient: rgba(0, 0, 0, 0.04);
}

.font-full {
  --vp-font-family-base: zh-cn-full, zh-cn-min, -apple-system,
    BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Segoe UI, Arial, Roboto,
    'PingFang SC', miui, 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif !important;
}

.lang-zh-cn:not(.font-full) {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    Helvetica,
    Segoe UI,
    Arial,
    Roboto,
    'PingFang SC',
    miui,
    'Hiragino Sans GB',
    'Microsoft Yahei',
    sans-serif;
}

.dark {
  --vp-code-block-bg: rgba(0, 0, 0, 0.4);
  --vp-c-text-code: #aac8e4;
  /* fix contrast on gray cards: check the same above (this is the default) */
  --vp-c-text-dark-2: rgba(235, 235, 235, 0.6);
  --vp-c-tip-1: var(v--vp-c-tip-1) --nav-c-bg: rgba(30, 30, 32, 0.5);

  --skeleton-animation-gradient: rgba(255, 255, 255, 0.06);
}

/**
 * Component: Code
 * -------------------------------------------------------------------------- */

:root {
  --vp-code-line-highlight-color: rgba(125, 125, 125, 0.2);
  --vp-c-brand-light: #34d399;
}

.dark {
  --vp-code-line-highlight-color: rgba(0, 0, 0, 0.5);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: rgba(255, 255, 245, 0.86);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #35495e -80%,
    #41b883
  );
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #41b88380 30%,
    #35495e80
  );
  --vp-home-hero-image-filter: blur(30px);

  --vp-layout-top-height: 0.1px;
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}
