name: Check

on:
  push:
    branches:
      - dev
      - next
      - main
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - dev
      - next
      - main
  workflow_dispatch:

jobs:
  check:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node: ['14', '16', '18']

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - name: Cache pnpm modules
        uses: actions/cache@v3
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-

      - name: Install dependencies
        uses: pnpm/action-setup@v2
        with:
          run_install: true

      - name: Build project
        env:
          NODE_OPTIONS: --max_old_space_size=4096
        run: pnpm docs:build

      - name: Linter test
        run: |
          pnpm run lint:check
          pnpm run lint:md

      - name: Test
        run: pnpm test
