name: CHECK

on:
  push:
    branches:
      - dev
      - next
      - main
      - en
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node_version: [16, 18]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          run_install: true

      - name: Set node version to ${{ matrix.node_version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node_version }}
          cache: pnpm

      - name: Build project (MPA)
        env:
          NODE_OPTIONS: --max_old_space_size=4096
        run: pnpm build-mpa

      - name: Linter test
        run: pnpm run lint:check
