# @See https://pages.github.com/
name: Gtihub Pages

env:
  - BASE: 'docs'

on:
  # trigger deployment on every push to main branch
  push:
    branches:
      - main
      - next
      - dev
    # @See https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions
    paths-ignore:
      - '**/__tests__/**'
      - './README.md'
  # trigger deployment manually
  workflow_dispatch:

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          # fetch all commits to get last updated time or other git log info
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          # choose node.js version to use
          node-version: '16'

      # cache node_modules
      - name: Cache pnpm modules
        uses: actions/cache@v3
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-

      - name: Install dependencies
        uses: pnpm/action-setup@v2
        with:
          run_install: true

      # run build script
      - name: Build site
        run: pnpm build

      # please check out the docs of the workflow for more details
      # @See https://github.com/crazy-max/ghaction-github-pages
      - name: Deploy to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v2
        with:
          # deploy to gh-pages branch
          target_branch: gh-pages
          # deploy the default output dir
          build_dir: .vitepress/dist
        env:
          # @See https://docs.github.com/en/actions/reference/authentication-in-a-workflow#about-the-github_token-secret
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
